<!-- <div class="stagiaires-container">
    <h2>Stagiaires</h2>
    <table>
      <thead>
        <tr>
          <th>CIN</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Tel</th>
          <th>École</th>
          <th>Année</th>
          <th>Domaine</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stagiaire of stagiaires">
          <td>{{ stagiaire.cin }}</td>
          <td>{{ stagiaire.nom }}</td>
          <td>{{ stagiaire.prenom }}</td>
          <td>{{ stagiaire.email }}</td>
          <td>{{ stagiaire.tel }}</td>
          <td>{{ stagiaire.ecole }}</td>
          <td>{{ stagiaire.annee }}</td>
          <td>{{ stagiaire.domaine }}</td>
          <td>{{ stagiaire.statut }}</td>
        </tr>
      </tbody>
    </table>
  </div>
   -->
<table class="styled-table">
  <thead>
    <tr>
      <th>CIN</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Tel</th>
      <th>École</th>
      <th>Année</th>
      <th>Domaine</th>
      <th>Statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stagiaire of stagiaires">
      <td>{{ stagiaire.cin }}</td>
      <td>{{ stagiaire.nom }}</td>
      <td>{{ stagiaire.prenom }}</td>
      <td>{{ stagiaire.email }}</td>
      <td>{{ stagiaire.tel }}</td>
      <td>{{ stagiaire.ecole }}</td>
      <td>{{ stagiaire.annee }}</td>
      <td>{{ stagiaire.domaine }}</td>
      <td>{{ stagiaire.statut }}</td>
    </tr>
  </tbody>
</table>